body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--color-white);
    margin: 0px;
}

* {
    box-sizing: border-box;
}

body {
    display: block;
    margin: 8px;
}

